/* styling for header */
.page-header{
    background:url(../img/toy-bg.jfif);
    background-color: #a05926;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo dropdown"
    "search search"
    "your-products your-products";
    padding-bottom: .5em;
}

/* logo positioning */
.logo{
    grid-area: logo;
    justify-self: left;
    width: 100px;
    height: 100px;
}

/* styling menu bar */
.dropdown{
    grid-area: dropdown;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 4em;
}

/* hover fuction for navigation */
.navigation ul ul li a:hover,
.navigation ul li a:hover
{
    background: black;
    color: chocolate;
}

.nav-toggle{
    background-color: burlywood;
}

.navigation{
    display: none;
}

/* styling search bar */
.search{
    grid-area: search;
    justify-self: center;
    color: whitesmoke;
    padding-bottom: .5em;
}

.search-icon{
    background-color: burlywood;
}

/* cart */
.your-products{
    grid-area: your-products;
    justify-self: center;
    display: flex;
    justify-content: flex-end;
    padding-left: .5em;
}

.your-cart{
    padding: .25em;
    background-color: burlywood;
    color: black;
    border-radius: .0em;
    margin-left: .5em;
}

/* wishlist */
.wishlist{
    padding: .25em;
    background-color: burlywood;
    color: black;
    border-radius: 0em;
    margin-right: .5em;
}

/* styling product content */
.product1{
    background-color: burlywood;
  display: grid;
}

.Lego{
    margin: .25em;
    margin-top: -.4em;
}

/* styling h1 */
.product1 h1{
    background-color: chocolate;
    color: black;
    margin-top: 0em;
    margin-bottom: .25em;
    padding-top: .2em;
    padding-bottom: .25em;
}

.Lego h1{
    background-color: chocolate;
    margin-top: .25em;
    /* margin-bottom: .25em; */
    color: black;
    padding-bottom: .25em;
}

/* styling images */
.gallery{
    padding-top: 0em;
    /* padding-right: .25em;
    padding-left: .25em; */
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 60em; 
    grid-gap: .5em;
} 

.main-gall-img{
    grid-column-start: 1;
    grid-column-end: 4;
}

.gall-img{
    grid-row-start: 2;
}

/* styling description box */
.product-description{
    border: 1px solid;
    border-color: black;
    background-color: rgba(0, 0, 0, .8);
    color: chocolate;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
}

.product-description h1{
    background-color: transparent;
    color: chocolate;
}

/* styling related products */
.rel-prod{
    background-color: rgba(0, 0, 0, .8);
    color: chocolate;
    border: 1px solid;
    padding: .25em;
    margin-top: -.5em;
    margin-bottom: 1.5em;
}

.related-product{
    color: chocolate;
    margin: .25em;
    margin-top: 1em;
    margin-bottom: -1.5em;
}

/* styling view product button */
.view-product{
    background-color: burlywood;
}

.options{
    margin-top: .5em;
    display: grid;
    grid-template-areas: "color size";
}

.color{
    grid-area: color;
}

.Sizes{
    grid-area: size;
}

.product-footer{
    display: inline-flex;
}

/* styling product footer */
.product-footer-button{
    margin: 1em;
    background-color: burlywood;
}

.Lego{
    margin-bottom: -1em;
}

/* styling page footer */
.page-footer{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "social legal"
    "copyright copyright";
    margin: .25em;
    margin-top: -.25em;
    padding: 1em;
    color: burlywood;
    background: rgba(0, 0, 0);
}

.about{
    display: none;
}

.social{
    grid-area: social;
    justify-self: center;
}

.legal{
    grid-area: legal;
    justify-self: center;
}

.copyright{
    grid-area: copyright;
    justify-self: center;
}

.link{
    text-decoration: none;
    color: black;
}

.footer-link{
    text-decoration: none;
    color: burlywood;
}

/* --------------Large Viewport--------------- */
/* styling body and setting viewport */
@media only screen and (min-width: 70em){
    body{
        background-color: burlywood;
        border: 10px solid;
        border-color: white;
    }

    .page-header{
        background:url(../img/toy-bg.jfif);
        background-color: #a05926;
        background-size: cover;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: .25fr 2fr .75fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "logo search your-products"
        "logo menu .";
        padding-bottom: 0em;
    }

    /* logo position */
    .logo{
        grid-area: logo;
        max-width: 100%;
    }
    /* styling search bar */
    .search{
        grid-area: search;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: -1.5em;
        margin-bottom: -1.5em;
        padding-bottom: -5em;
    }
    
    .search-icon{
        padding-bottom: 1.2em;
        height: 25px;
    }

    /* cart */
    .your-products{
        grid-area: your-products;
        justify-self: right;
        padding-top: .75em;
        padding-right: .5em;
    }
/* wishlist */
    .wishlist{
        margin-bottom: 1em;
        padding-bottom: -.5em;
    }

    .your-cart{
        margin-bottom: 1em;
        padding:-.5em;
    }
    /* styling menu bar */
    .dropdown{
        grid-area: menu;
        justify-self: center;
        padding-top: -5em;
        padding-bottom: -3em;
        margin-bottom: -3em;
    }

    nav,.nav-toggle{
        display: none;
    }

    .navigation{
        grid-area: menu;
        display: inline-flex;
        margin-bottom: -2em;
    }

    nav,.menu{
        grid-area: menu;
        display: inline-flex;
    }

    nav,.submenu{
        grid-area: menu;
        display: inline-flex;
        justify-content: space-evenly;
        align-content: space-between;
    }

    .menu-button{
        border: 1px black;
        background-color: burlywood;
        color: black;
        text-decoration: none;
        margin: .2em;
        padding: .2em;
    }

    /* styling product 1 content */
    .product1{
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-areas: 
        "heading heading"
        "Lego related-product"
        "footer footer";
    }

    .product1 h1{
        grid-area: heading;
    }

    .Lego{
        grid-area: Lego;
        display: grid;
    }

    .gallery{
        justify-self: center;
    }

    .product-description{
        padding-bottom: 1em;
    }

    .product-footer{
        display: inline-flex;
    }

    .product-footer-button{
        margin: 1em;
    }

    /* styling related product */
    .rel-prod-grid{
        grid-area: related-product;
        background-color: rgba(0, 0, 0, .8);
        background-color: chocolate;
        padding-top: 0em;
        margin-top: -2.5em;
    }

    .related-product h1{
        padding:0em;
        margin-top: -.4em;
        padding-bottom: .25em;
    }

    /* styling page footer */
    .page-footer{
        grid-area: footer;
        display: grid;
        grid-template-areas: 
        "about about"
        "social legal"
        "copyright .";
        margin-top: 0em;
    }

    .about{
        display: inline;
        grid-area: about;
    }

    .about h1{
        background-color: black;
        color: burlywood;
    }

    .social{
        grid-area: social;
    }

    .legal{
        grid-area: legal;
    }

    .copyright{
        grid-area: copyright;
        justify-self: left;
    }
}