/* header section */
.page-header{
    background:url(../img/toy-bg.jfif);
    background-color: #a05926;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo dropdown"
    "search search"
    "your-products your-products";
    padding-bottom: .5em;
}

/* logo alignment */
.logo{
    grid-area: logo;
    justify-self: left;
    width: 100px;
    height: 100px;
}

/* menu bar */
.dropdown{
    grid-area: dropdown;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 4em;
}

/* menu nav */
.nav-toggle{
    background-color: burlywood;
}

.navigation{
    display: none;
}

/* search bar */
.search{
    grid-area: search;
    justify-self: center;
    color: whitesmoke;
    padding-bottom: .5em;
}

.search-icon{
    background-color: burlywood;
}

/* cart */
.your-products{
    grid-area: your-products;
    justify-self: center;
    display: flex;
    justify-content: flex-end;
    padding-left: .5em;
}

.your-cart{
    padding: .25em;
    background-color: burlywood;
    color: black;
    border-radius: .0em;
    margin-left: .5em;
}

/* wishlist */
.wishlist{
    padding: .25em;
    background-color: burlywood;
    color: black;
    border-radius: 0em;
    margin-right: .5em;
}

/* products */
.product{
    display: grid;
    margin-bottom: .5em;
    margin-top: -.25em;
}

/* styling for heading */
.heading{
    margin-top: -.8em;
    margin-bottom: -.5em;
}

/* styling for h1 */
.heading>h1{
    padding-top: .2em;
    padding-bottom: .3em;
    color:black;
    background-color: chocolate;
}

/* styling for filters */
.filters{
    padding: 2px;
    margin-top: -1.3em;
    border: 1px solid;
    border-color: black;
    color: chocolate;
    background-color: rgba(0, 0, 0, .8)
}

.filter-options{
    margin-top: -.5em;
}

.sort{
    background-color: burlywood;
}

/* styling for h2 */
.results>h2{
    margin-top: .5em;
    margin-bottom: 1.3em;
    padding-top: .2em;
    padding-bottom: .2em;
    background-color: chocolate;
}

/* products */
.product{
    margin-top: -2em;
    margin-bottom: 4em;
    padding: .5em;
    border: 1px solid;
    border-color: black;
    color: chocolate;
    background-color: rgba(0, 0, 0, .8)
}

/* view product button */
.view-product{
    background-color: burlywood;
}

/* footer of each product */
.product-footer{
    margin-top: .5em;
    background-color: burlywood;
}

/* style for pagination */
.pages{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.page-num{
    background-color: burlywood;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.pagination{
    justify-self: center;
    color:chocolate;
}

.back-top>a{
    text-decoration: none;
    color: black;
    background-color: chocolate;
    border: 1px solid black;
}

/* styling for footer */
.page-footer{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "social legal"
    "copyright copyright";
    padding: 1em;
    margin-top: -4em;
    color: burlywood;
    background: rgba(0, 0, 0);
}

.about{
    display: none;
}

.social{
    grid-area: social;
    justify-self: center;
}

.legal{
    grid-area: legal;
    justify-self: center;
}

.copyright{
    grid-area: copyright;
    justify-self: center;
}

.link{
    text-decoration: none;
    color: black;
}

.footer-link{
    text-decoration: none;
    color: burlywood;
}

/* --------------Medium Viewport-------------- */
/* styling body and setting viewport */
@media only screen and (min-width: 40em){
    body{
        /* background-color: burlywood; */
        border: 10px solid;
        border-color: white;
    }

    /* styling for product content */
    .results{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 
        "heading heading"
        "product1 product2"
        "product3 product4"
        "product5 product6";
    }

    .subheading{
        grid-area: heading;
    }

    /* product1 */
    .product1{
        grid-area: product1;
    }

    .product1 .product{
        margin-bottom: 0em;
        padding-bottom: .6em;
    }

    /* product2 */
    .product2{
        grid-area: product2;
    }

    /* product3 */
    .product3{
        grid-area: product3;
    }

    .product3 .product{
        margin-bottom: 2em;
        padding-bottom: 6.4em;
    }

    /* product4 */
    .product4{
        grid-area: product4;
    }

    /* product5 */
    .product5{
        grid-area: product5;
    }

    .product5 .product{
        margin-bottom: 0em;
        padding-bottom: 15em;
    }
/* product6 */
    .product6{
        grid-area: product6;
    }

    .product{
        margin-right: 1px;
        margin-left: 1px;
    }

    .back-top>a{
        text-decoration: none;
        color: black;
        background-color: chocolate;
        border: 1px solid black;
    }

    .page-footer{
        margin-top: -5em;
    }
}
/* --------------Large Viewport--------------- */
/* styling body and setting viewport */
@media only screen and (min-width: 70em){
    body{
        background-color: burlywood;
        border: 10px solid;
        border-color: white;
    }

    /* styling for header */
    .page-header{
        background:url(../img/toy-bg.jfif);
        background-color: #a05926;
        background-size: cover;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: .25fr 2fr .75fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "logo search your-products"
        "logo menu .";
        padding-bottom: 0em;
    }

    .results{
        display: block;
    }
    
    /* aligning logo */
    .logo{
        grid-area: logo;
        max-width: 100%;
    }

    /* styling search bar */
    .search{
        grid-area: search;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: -1.5em;
        margin-bottom: -1.5em;
        padding-bottom: -5em;
    }
    
    .search-icon{
        padding-bottom: 1.2em;
        height: 25px;
    }

    /* cart */
    .your-products{
        grid-area: your-products;
        justify-self: right;
        padding-top: .75em;
        padding-right: .5em;
    }

    .your-cart{
        margin-bottom: 1em;
        padding:-.5em;
    }

    /* wishlist */
    .wishlist{
        margin-bottom: 1em;
        padding-bottom: -.5em;
    }

    /* styling menu bar */
    .dropdown{
        grid-area: menu;
        justify-self: center;
        padding-top: -5em;
        padding-bottom: -3em;
        margin-bottom: -3em;
    }

    /* hover function for navigation */
    .navigation ul ul li a:hover,
.navigation ul li a:hover
{
    background: black;
    color: chocolate;
}

    .menu ul ul li a:hover,
    .menu ul li.active ul li a:hover,
    .menu ul li:hover ul li a:hover 
    {
    background: black;
    color: chocolate;
    }

    nav,.nav-toggle{
        display: none;
    }

    /* styling for navigation */
    .navigation{
        grid-area: menu;
        display: inline-flex;
        margin-bottom: -2em;
    }

    nav,.menu{
        grid-area: menu;
        display: inline-flex;
    }

    nav,.submenu{
        grid-area: menu;
        display: inline-flex;
        justify-content: space-evenly;
        align-content: space-between;
    }

    /* styling for menu button */
    .menu-button{
        border: 1px black;
        background-color: burlywood;
        color: black;
        text-decoration: none;
        margin: .2em;
        padding: .2em;
    }

    /* styking products */
    .products{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
        "heading heading"
        "filters results";
    }

    /* styling headings */
    .heading{
        grid-area: heading;
        margin-top: -1.25em;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    /* styling filters */
    .filters{
        grid-area: filters;
        margin-top: -.8em;
        margin-right: 1.5px;
        margin-left: 5rem;
    }

    .sort{
        background-color: burlywood;
    }

/* styling result content */
    .results{
        grid-area: results;
        margin-top: -.8em;
        margin-left: 1.5px;
        margin-right: 5rem;
        padding-top: 0%;
        padding-bottom: -.5em;
        border: 1px solid;
        border-color:black;
        background-color: rgba(0, 0, 0, .8);
        margin-bottom: 0px;
    }

    .results>h2{
        margin-top: 0%;
        margin-bottom: -18px;
        color: chocolate;
        background-color: rgba(0, 0, 0, .8);
    }

    .product{
        display: inline-block;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .product1 .product{
        margin-bottom: 0em;
        padding-bottom: .5em;
    }

    .product3 .product{
        margin-bottom: 0em;
        padding-bottom: .5em;
    }

    .product5 .product{
        margin-bottom: 0em;
        padding-bottom: .5em;
    }

    /* styling pagination */
    .pagination{
        display: grid;
        justify-content: center;
        color:chocolate;
    }    

    .back-top>a{
        text-decoration: none;
        color: black
    }

    .page-num{
        justify-self: center;
    }

    /* styling footer */
    .page-footer{
        display: grid;
        grid-template-areas: 
        "about about"
        "social legal"
        "copyright .";
        margin-top: -1.2em;
    }

    .about{
        display: inline;
        grid-area: about;
    }

    .social{
        grid-area: social;
    }

    .legal{
        grid-area: legal;
    }

    .copyright{
        grid-area: copyright;
        justify-self: left;
    }
}
